<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lehoanghan.appcalendar">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.example.lehoanghan.MainApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/calendar"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.lehoanghan.choosemenu.NavigationActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.example.lehoanghan.addevent.AddEventActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.lehoanghan.myaccount.ChangeAccountActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.lehoanghan.list_oldevent.MemoryEventActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.lehoanghan.list_oldevent.CommentActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.lehoanghan.list_oldevent.PictureActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.lehoanghan.list_newevent.AlarmDialog_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name="com.example.lehoanghan.list_newevent.AlarmNotificationReceiver" />

        <service
            android:name="com.example.lehoanghan.list_newevent.RingtonePlayingService_"
            android:enabled="true" />

        <activity
            android:name=".ForgotPasswordActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

    </application>

</manifest>